   <ion-grid>
    
    <ion-row class="">
      
      <ion-col style="height: 46px;border-radius: 8px;
background: #71BDBD;left: 14px;" size="11.3">
<img src="assets/icon/building.png" alt="" style="margin: 10px 5px 0px 19px;    width: 20px;
color: #FFF;
height: 14px;">
<ion-text style="color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;">
  SSC
</ion-text>
<ion-icon name="chevron-up-outline" style="float: inline-end;height: 25px;
float: inline-end;
width: 25px;
color: #FFF;
margin: 5px;
"></ion-icon>
      </ion-col>

   </ion-row>
   <ion-row >
    <ion-col class="form-group">
      <ion-label class="required">School Name</ion-label>
      <ion-input class="form-control">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="form-group">
      <ion-label class="required">Location</ion-label>
      <ion-input class="form-control">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="form-group">
      <ion-label class="required">Start Date</ion-label>
      <ion-input class="form-control">
      </ion-input>
    </ion-col>
    <ion-col class="form-group">
      <ion-label class="required">End Date</ion-label>
      <ion-input class="form-control">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row class="">
      
    <ion-col style="height: 46px;border-radius: 8px;
background: #71BDBD;left: 14px;margin: 20px 0px;" size="11.3">
<img src="assets/icon/building.png" alt="" style="margin: 10px 5px 0px 19px;    width: 20px;
color: #FFF;
height: 14px;">
<ion-text style="color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;">
SSC
</ion-text>
<ion-icon name="chevron-up-outline" style="float: inline-end;height: 25px;
float: inline-end;
width: 25px;
color: #FFF;
margin: 5px;
"></ion-icon>
    </ion-col>

 </ion-row>
 <ion-row class="">
      
  <ion-col style="height: 46px;border-radius: 8px;
background: #71BDBD;left: 14px;" size="11.3">
<img src="assets/icon/building.png" alt="" style="margin: 10px 5px 0px 19px;    width: 20px;
color: #FFF;
height: 14px;">
<ion-text style="color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;">
SSC
</ion-text>
<ion-icon name="chevron-up-outline" style="float: inline-end;height: 25px;
float: inline-end;
width: 25px;
color: #FFF;
margin: 5px;
"></ion-icon>
  </ion-col>

</ion-row>
  
  </ion-grid>

  
  