<ion-row>
  <ion-col style="align-content: center;">
      <ion-text style="color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;float: inline-end;">
        Upload Photo
      </ion-text>
  </ion-col>
  <ion-col >
    <ion-avatar style="width: 94px;
    height: 106px;
    flex-shrink: 0;">
      <img src="assets/icon/Layer 2.png" alt="" >
    </ion-avatar>
  </ion-col>
</ion-row>

<form action="">
<ion-row >
  <ion-col class="form-group">
    <ion-label class="required">First Name</ion-label>
    <ion-input class="form-control">
    </ion-input>
  </ion-col>
</ion-row>
<ion-row >
  <ion-col class="form-group">
    <ion-label class="required">Last Name</ion-label>
    <ion-input class="form-control">
    </ion-input>
  </ion-col>
</ion-row>
<ion-row >
  <ion-col class="form-group">
    <ion-label class="required">Email</ion-label>
    <ion-input class="form-control">
    </ion-input>
  </ion-col>
</ion-row>
  
<ion-row >
  <ion-col class="form-group">
    <ion-label class="required">Phone Number</ion-label>
    <ion-input class="form-control">
    </ion-input>
  </ion-col>
</ion-row>  



<ion-row >
  <ion-col class="form-group">
    <ion-label class="required">Location</ion-label>
    <ion-input class="form-control">
    </ion-input>
  </ion-col>
</ion-row>

<ion-row >
  <ion-col class="form-group">
    <ion-label class="required">Job Title</ion-label>
    <ion-input class="form-control">
    </ion-input>
  </ion-col>
</ion-row>

<ion-row >
  <ion-col class="form-group">
    <ion-label class="required">Birth Date</ion-label>
    <ion-input class="form-control">
    </ion-input>
  </ion-col>
</ion-row>

</form>

