<!-- <ion-grid class="grid-container">
  <ion-row class="header-row">
    <img src="assets/icon/Group 1000002366 (1).png" alt="" class="header-logo">
    <ion-text class="header-text">PresumeLink</ion-text>
  </ion-row>

  <ion-row class="title-row">
    <ion-text class="title-text">Employee Login</ion-text>
  </ion-row>
  <ion-row size="12" class="segment-row">
    <ion-col class="segment-col" size="9.5">
      <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange($event)" class="custom-segment">
        <ion-segment-button value="custom" [ngClass]="{'active': selectedSegment === 'custom'}" class="segment-button">
         <div>
          <ion-icon name="call" class="button-icon"></ion-icon>
          <ion-label class="button-label">Phone</ion-label>
        </div>
        </ion-segment-button>
        <ion-segment-button value="segment" [ngClass]="{'active': selectedSegment === 'segment'}" class="segment-button">
          <div>
          <ion-icon name="mail" class="button-icon"></ion-icon>
          <ion-label class="button-label">Email</ion-label>
        </div>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  

  <ion-row class="footer-text">
    <ion-col>
      <ion-text>Or continue with</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="centered-row">
    <ion-col class="centered-col" size="2.5">
      <img src="assets/icon/google symbol.webp" alt="Google" class="circular-img">
    </ion-col>
    <ion-col class="centered-col" size="2.5">
      <img src="assets/icon/download.jpg" alt="Facebook" class="circular-img">
    </ion-col>
    <ion-col class="centered-col" size="2.5">
      <img src="assets/icon/apple.png" alt="Apple" class="circular-img">
    </ion-col>
  </ion-row>
</ion-grid> -->
