<div class="line">
  <h2>
    <span class="header-text">Rate Yourself</span>
  </h2>

  <div class="rating-section">
    <ion-row>
      <ion-col size="4" class="language-col">
        <span class="required">*</span>
        <ion-text class="language-text">English</ion-text>
      </ion-col>

      <ion-col class="level-col low">
        <ion-text class="level-text">Low</ion-text>
      </ion-col>

      <ion-col class="level-col medium">
        <ion-text class="level-text">Medium</ion-text>
      </ion-col>

      <ion-col class="level-col high">
        <ion-text class="level-text">High</ion-text>
      </ion-col>

      <ion-col class="icon-col">
        <img src="assets/icon/worng symbol.png" alt="" class="status-icon">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" class="language-col">
        <span class="required">*</span>
        <ion-text class="language-text">Hindi</ion-text>
      </ion-col>

      <ion-col class="level-col low">
        <ion-text class="level-text">Low</ion-text>
      </ion-col>

      <ion-col class="level-col medium">
        <ion-text class="level-text">Medium</ion-text>
      </ion-col>

      <ion-col class="level-col high">
        <ion-text class="level-text">High</ion-text>
      </ion-col>

      <ion-col class="icon-col">
        <img src="assets/icon/worng symbol.png" alt="" class="status-icon">
      </ion-col>
    </ion-row>
  </div>
</div>
<div class="language-line">
  <h2>
    <span class="language-header-text">Enter Languages</span>
  </h2>
  <ion-input></ion-input>
  <img src="assets/icon/Group 1000010370 (1).png" alt="" class="plus-icon">
</div>

  