
<ion-grid class="resume-container">
  <ion-row style="margin: 10px 0px;">
    <ion-col>
      <img src="assets/icon/Menu.png" alt="">
      <ion-text class="text-hello">
        Hello..!
      </ion-text>
    </ion-col>
    <ion-col>
      <img src="assets/icon/alaram.png" alt="" style="float:inline-end;">

    </ion-col>
  </ion-row>
  <ion-row>
 
      <swiper-container>
        <swiper-slide>
          <ion-card class="custom-item">
            <ion-row>
              <ion-col size="9">
                <div class="text-container">
                  <ion-text class="resume-text">PResumeLink</ion-text>
                </div>
                <div class="text-container">
                  <ion-text class="ion-text1">
                    We can create a perfect Resume and we will provide a<br>
                    <span>Permanent Resume Link it will give a permanent</span><br>
                    <span>solution for jobseekers</span>
                  </ion-text>
                </div>
                <div class="text-container">
                  <ion-text class="italic-text">
                    Get the fresh look with our<br>
                    Resume Templates..
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="3" class="image-col">
                <img src="assets/icon/R-name.png" alt="" style="    margin-top: 76px;
                transform: rotate(-7.239deg);
                height: 80px;
                width: 60px;
            ">
              </ion-col>
            </ion-row>
          </ion-card>

        
</swiper-slide>
</swiper-container>
  </ion-row>
  <div style="margin: 10px 0px;">
    <img src="assets/icon/Group 1000002495.png" alt="" style="margin: 0px 170px;">
  </div>
 <ion-row>
  <ion-col size="4.5">
    <img src="assets/icon/Group 1000002597.jpg" alt="">
  </ion-col>
  <ion-col size="7.5" style="padding-top: 15px;">
    <ion-text style="    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 500;">Let’s start creating best <strong style="color: #053750;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;"> Resume </strong>
      and get Highlighted..</ion-text>
      <div>
        <ion-button class="resume-button">
          <div style="display: flex;">
            <ion-icon name="add" style="    height: 20px;
            margin: -2px 5px;
            width: 20px;"></ion-icon>
            <ion-text style="color: #FFF;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;">
              Create Resume 
            </ion-text>
          </div>
        </ion-button>
      </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col><ion-text style="color: #053750;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;">Resume Templates</ion-text></ion-col>
  <ion-col>
    <ion-text style="color: #053750;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; float: inline-end;margin-top: 7px"> see all</ion-text>
   
  </ion-col>
 </ion-row>
 <ion-row style="margin-top: 20px;">
 <ion-col>
<img src="assets/icon/resume-photo.jpg" alt="" style="border-left: 5px solid #053750;">
 </ion-col>
 <ion-col>
  <img src="assets/icon/resuume2-photo.jpg" alt="" style="border-left: 5px solid #053750;">
 </ion-col>
</ion-row>
<ion-row class="icon-row">
  <div style="width: 25px;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  background: #FFF;
  left: 60px;
  bottom: 73px;">

  </div>
  <ion-col class="icon-col">
    <img src="assets/icon/home-icon.png" alt="" class="icon-image">
    <ion-text class="icon-text">
      Home
    </ion-text>
  </ion-col>
  
  <ion-col class="icon-col">
    <img src="assets/icon/icon-type.png" alt="" class="icon-image">
    <ion-text class="icon-text">
      Templates
    </ion-text>
  </ion-col>
  
  <ion-col class="icon-col">
    <img src="assets/icon/bag-icon.png" alt="" class="icon-image">
    <ion-text class="icon-text"> 
      Jobs
    </ion-text>
  </ion-col>
  
  <ion-col class="icon-col">
    <img src="assets/icon/setting-icon.jpg" alt="" class="icon-image">
    <ion-text class="icon-text">
      Settings
    </ion-text>
  </ion-col>
</ion-row>

</ion-grid>